


<style>
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
</style>



<style>
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
</style> 




<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Horror's Museum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/slideshows">Auteurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/auteurs">Oeuvres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
      </li>
    </ul>
  </div>
</nav>













<h3>Horror's Museum</h3>

<div class="container" >
  <div class="row" >
    <% @arts.each do |art| %>
      <div class="col-sm-4" >
        <div class="card" style="width: 18rem;">
          <img src="<%= art.photo %>" class="card-img-top" alt="<%= art.photo %>">
          <div class="card-body">
            <h5 class="card-title"><%= art.title %></h5>
            <p class="card-text"><%= art.comments %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= art.author %></li>
            <li class="list-group-item"><%= art.date %></li>
            <li class="list-group-item"><%= art.dimensions %></li>
          </ul>
        </div>
        <div class="card-body">
          <a href="#" class="card-link"><%= link_to 'Editer', edit_art_path(art) %></a>
          <a href="#" class="card-link"><%= link_to 'Voir', art %></a>
        </div>
      </div>

    <% end %>
  </div>
</div>
       



<a href="#" class="card-link"><%= link_to 'Ajouter une oeuvre', new_art_path %></a>




