<p id="notice"><%= notice %></p>

<p>
  <strong>Auteur:</strong>
  <%= @art.author %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @art.date %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @art.dimensions %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @art.photo %>
</p>

<p>
  <strong>Commentaires:</strong>
  <%= @art.comments %>
</p>

<%= link_to 'Editer', edit_art_path(@art) %> |
<%= link_to 'Retour', arts_path %>
